<?xml version="1.0" encoding="UTF-8"?><!-- -*- mode: xml; -*- -->
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.github.yewton.reboot_airstation</string>
    <key>ProgramArguments</key>
    <array>
      <string>osascript</string>
      <string>${HOME}/Library/LaunchAgents/reboot_airstation.applescript</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>4</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>EnvironmentVariables</key>
    <dict>
        <key>AIRSTATION_USER</key>
        <string>${user}</string>
        <key>AIRSTATION_PASS</key>
        <string>${pass}</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/reboot_airstation.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/reboot_airstation.err</string>
  </dict>
</plist>
